
.card {
    border: none !important;
}

.page-link {
    color: black !important;
}

.pagination .page-item.active .page-link {
    color: black !important;
    background-color: lightgray !important;
    border-color: dimgray !important;
}

    .pagination .page-item.active .page-link:hover {
        color: white !important;
        background-color: #808080 !important;
        border-color: #444 !important;
    }

    .pagination .page-link:focus,
    .pagination .page-item.active .page-link:focus {
        box-shadow: black !important;
        outline: none !important;
    }