.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card{
    border:none !important;
}
table {
    border:white;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    background-color: green;
    color: black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border: 2px solid ;
}

.empty-cell {
    background-color: transparent;
    border: none;
}

.large-cell {
    width: 320px;
    height: 100px;
}

.btn-success {
    color: black !important;
    background-color:green !important;
}
.btn{
    cursor:default !important;
}