body {
    font-family: Arial, sans-serif;
}

.table-responsive{
    max-height:50%;
}
.card {
    border: none !important;
}

.table{
    max-height:50%;
}

.table th {
    background-color: #808080;
    color: white;
    white-space: nowrap;
    text-align: center;

}