body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-details {
    flex: 2;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.card{
    border : none !important ;
}

.details legend {
    font-weight: bold;
}

.form-container{
    display:flex;
    gap:20px;
    align-items:flex-start;
}
.form-left {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    
}
.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    gap:31px;
    justify-content:center;
    border-radius: 8px;
}


.form-right button {
    width: 112px;
    padding: 6px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: default;
    color: black;
    transition: 0.3s;
    font-weight:bold;

}

.table-responsive{
    padding-top:10px;
    max-height:80%;
    max-width:100%;
}

.table th {
    background-color: #808080;
    color: white;
    white-space: nowrap;
    text-align: center;
}


.table td {
    word-break: break-all;

}

.cell-container {
    display: flex;
    align-items: center; /* Sejajarkan vertikal */
    gap: 10px; /* Beri jarak antara label dan select */
}

/* Pastikan select memiliki ukuran yang sesuai */
.cell-container select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 120px; /* Atur lebar minimal */

}

    /* Agar label tidak turun ke bawah */
.cell-container label {
    white-space: nowrap;
    font-weight: bold;

}

.empty {
    text-align: center;
    color: #aaa;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;  
    }

    .left-panel, .right-panel {
        width: 100%;
    }

    .right-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-group {
        flex-direction: column;  
        align-items: stretch;
    }
    .form-group div {
        width: 100%;  
    }
}


.page-link{
    color:black !important;
}

.pagination .page-item.active .page-link {
    color: black !important;  
    background-color: lightgray !important;
    border-color: dimgray !important;
}

.pagination .page-item.active .page-link:hover {
    color: white !important;  
    background-color: #808080 !important;   
    border-color: #444 !important;   
}

.pagination .page-link:focus,
.pagination .page-item.active .page-link:focus {
    box-shadow: black !important;
    outline: none !important;
}