body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}
.card{
    border:none !important;
}

.table-responsive {
    height:100%;
    max-height:120%;
}

.table th {
    color:white;
    white-space: nowrap;
    text-align: center;
    background-color: #808080;
    min-width: 100px;
}
.table td {
    word-break: break-all;
    text-align:center;
}