@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<!-- Link ke CSS -->
<link rel="stylesheet" href="~/css/RackInformation.css" asp-append-version="true" />

@await Html.PartialAsync("_StartInspectionTab")

<div class="card">
    <div class="card-body">
    <h2 class="card-header" >Rack Mapping</h2>
    <div class="mt-2 d-flex gap-3 ">
        <button class="btn btn-warning px-5 ">Occupied</button>
        <button class="btn btn-success px-5 ">Empty</button>
    </div>
    <div class="table-container">
        <table>
            <tbody>
                <!-- Baris 1 -->
                <tr>
                    <td>A1-1</td>
                    <td>A1-2</td>
                    <td>A1-3</td>
                    <td class="empty-cell"></td>
                    <td>B1-1</td>
                    <td>B1-2</td>
                    <td>B1-3</td>
                    <td class="empty-cell"></td>
                    <td>C1-1</td>
                    <td>C1-2</td>
                    <td>C1-3</td>
                </tr>

                <!-- Baris 2 -->
                <tr>
                    <td>A2-1</td>
                    <td>A2-2</td>
                    <td>A2-3</td>
                    <td class="empty-cell"></td>
                    <td>B2-1</td>
                    <td>B2-2</td>
                    <td>B2-3</td>
                    <td class="empty-cell"></td>
                    <td>C2-1</td>
                    <td>C2-2</td>
                    <td>C2-3</td>
                </tr>

                <!-- Baris 3 -->
                <tr>
                    <td>A3-1</td>
                    <td>A3-2</td>
                    <td>A3-3</td>
                    <td class="empty-cell"></td>
                    <td>B3-1</td>
                    <td>B3-2</td>
                    <td>B3-3</td>
                    <td class="empty-cell"></td>
                    <td>C3-1</td>
                    <td>C3-2</td>
                    <td>C3-3</td>
                </tr>

                <!-- Baris 4 -->
                <tr>
                    <td>A4-1</td>
                    <td>A4-2</td>
                    <td>A4-3</td>
                    <td class="empty-cell"></td>
                    <td>B4-1</td>
                    <td>B4-2</td>
                    <td>B4-3</td>
                    <td class="empty-cell"></td>
                    <td>C4-1</td>
                    <td>C4-2</td>
                    <td>C4-3</td>
                </tr>

                <!-- Baris 5 -->
                <tr>
                    <td class="empty-cell" colspan="23">  </td>
                </tr>

                <tr>
                    <td>D1-1</td>
                    <td>D1-2</td>
                    <td>D1-3</td>
                    <td class="empty-cell"></td>
                    <td rowspan="3" colspan="2">E</td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                </tr>

                <tr>
                    <td>D2-1</td>
                    <td>D2-2</td>
                    <td>D2-3</td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                </tr>

                <tr>
                    <td>D3-1</td>
                    <td>D3-2</td>
                    <td>D3-3</td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                    <td class="empty-cell"></td>
                </tr>


            </tbody>
        </table>
    </div>
    </div>
</div>
