@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Receiving Inspection";
}

<!-- Link ke CSS -->
<link rel="stylesheet" href="~/css/ReceivingInspection.css" asp-append-version="true" />


@await Html.PartialAsync("_StartInspectionTab")

<div class="row" >

    <div class="col-sm-6 mb-3 mb-sm-0"  >
        <div class="card">
            <div class="card-body" >
                <div class="d-flex align-items-center justify-content-between search-container mt-2 mb-2 ">
                    <p class="fw-bold" >
                        Open order after GR (double click to populate) :
                    </p>
                    <input type="search" name="name" value="" class="form-control search-input" placeholder="Search..." />
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>PO</th>
                                <th>Line</th>
                                <th>Loc</th>
                                <th>Sub</th>
                                <th>Act_Weight</th>
                                <th>Supplier_Weight</th>
                                <th>Description</th>
                                <th>Qty</th>
                                <th>Ref Number</th>
                                <th>AWB</th>
                                <th>Casting_No</th>
                                <th>ASN</th>
                                <th>Batch</th>
                                <th>AIU</th>
                                <th>Seq</th>
                                <th>Batch</th>
                                <th>Reg</th>
                                <th>Date_PIB</th>
                                <th>Vendor</th>
                                <th>Status</th>
                                <th>GR_Date</th>
                                <th>GR_Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="23">Sample Data</td>
                            </tr>
                            <tr>
                                <td colspan="23">Sample Data</td>
                            </tr>
                            <tr>
                                <td colspan="23">Sample Data</td>
                            </tr>
                            <tr>
                                <td colspan="23">Sample Data</td>
                            </tr>
                            <tr>
                                <td colspan="23">Sample Data</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
              
            </div>
        </div>
            
        <div class="card" >
                <div class="card-header d-grid gap-3 ">
                    <div class="d-flex gap-3" >
                        <button class="btn btn-secondary px-5 ">Start</button>
                        <button class="btn btn-danger px-5 ">Clear Data</button>
                </div>
                </div>
                <div class="card-body" >
                <form class="form-container">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label class="form-label">Document Number:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Part Number:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Description:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">CoC/SO/Order/Ref #:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Batch Number:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="number">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Received Quantity:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="number">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Cell:</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Supplier:</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Job Type:</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-select">
                                <option selected>Select</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Employee ID:</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="number">
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text">
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Item Check:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </form>
                </div>


            </div>




    </div>

    <div class="col-sm-6 col-12 ">
        <div class="card">
            <div class="card-body">
                <h2>Quality Alert</h2>
                <div class="row card-text">
                    <div class="col">
                        <p>Scroll the mouse to zoom in/out, click and hold the mouse to move.</p>
                    </div>
                    <div class="col">
                        <nav aria-label="...">
                            <ul class="pagination col">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <img src="~/dist/assets/img/avatar.png" class="img-fluid" alt="No Picture Available" />
        </div>
    </div>

</div>
    
   
