@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Upload After";
}

<!-- Link ke CSS -->
<link rel="stylesheet" href="~/css/UploadAfter.css" asp-append-version="true" />


@await Html.PartialAsync("_StartInspectionTab")

<div class="card" >
    <div class="card-body" >
        <div class="mt-2 d-flex gap-3 ">
            <button class="btn btn-secondary px-5 ">Upload</button>
            <button class="btn btn-danger px-5 ">Delete</button>
        </div>
        <div class="table-responsive">
            <table id="dmsTable" class="table table-bordered table-hover mt-4 display">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>PO</th>
                        <th>Line</th>
                        <th>Loc</th>
                        <th>Sub</th>
                        <th>Act_Weight</th>
                        <th>Supplier_Weight</th>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>Ref Number</th>
                        <th>AWB</th>
                        <th>Casting_No</th>
                        <th>ASN</th>
                        <th>Batch</th>
                        <th>AIU</th>
                        <th>Seq</th>
                        <th>Reg</th>
                        <th>Date_PIB</th>
                        <th>Vendor</th>
                        <th>Status</th>
                        <th>GR_Date</th>
                        <th>GR_Qty</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>

</div>
@section Scripts{

    <script>
        $(document).ready(function(){


            var table = $('dmsTable').DataTable({

                processing:true,
                serverSide:true,
                ajax:{
                    url:'',
                    type:'',
                    dataSrc:function(json){
                        console.log(json;
                        return json.data;
                    }

                },
                columns:[
                    {data : ''},
                    {data:''}
                ]

            });
        });
    </script>

}
    
